@import url(../css/global.css);
body{
    background-color: rgba(211, 211, 211, 0.422);
}
header{
    z-index: 9;
    position: fixed;
    width: 100vw;
    height: 4em;
    background-color: var(--light-green);
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    .menu{
        width: 33%;
        font-size: 1.8em;
        color: white;
        padding-left: 0.3em;
        cursor: pointer;
    }
    .logotipo{
        width: 33%;
        margin-top: 2em;
        border-radius: 50%;
        background-color: var(--light-green);

        .logo{
            width: 100%;
            text-align: center;

            a img{
                width: 70%;
            }
        }
    }
    .redes_sociais{
        width: 33%;
        font-size: 1.4em;
        color: white;

        a{
            margin-left: 1em;
        }
    }
}
nav{
    position: absolute;
    top:4.5em;
    width: 100%;
    height: 3.5em;
    display: flex;
    cursor: pointer;
    
    .label{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1.8em;
    }
}
main{
    position: fixed;
    width: 100vw;
    height: calc(100% - 4em);
    top: 5em;
    
    .global{
        width: 100%;
        height: 100%;
        display: flex;
        overflow: hidden;

        .container_produtos{
            width: 100%;
            height: 100%;

            .barra_info{
                width: 100%;
                height: 2.5em;
                margin-top: 1em;
                display: flex;
                align-items: center;

                .container_search{
                    width: 70%;
                    height: 1005;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                    .box_search{
                        width: 90%;
                        height: 2.5em;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        border-radius: 2em;
                        background-color: white;
                        box-shadow: 0 0 0.3em 0.1em black;
                        
                        .search{
                            width: 80%;
                            height: 100%;
                            border: none;
                            outline: none;
                            font-size: 1.8em;
                            padding-left: 0.5em;
                            border-radius: 1em 0 0 1em;
                            background-color: transparent;
                            font-style: italic;
                        }
                        button, span{
                            display: flex;
                            background-color: transparent;
                            border: none;
                            cursor: pointer;
                        }
                    }
                }
                .container_cart{
                    width: 27%;
                    height: 100%;
                    display: flex;
                    background-color: rgba(0, 255, 8, 0.405);
                    border-bottom: 0.2em solid black;
                    cursor: pointer;


                    .icon_cart{
                        width: 20%;
                        height: 100%;
                        text-align: center;
                        
                        span{
                            font-size: 2.5em;
                        }
                        p{
                            position: absolute;
                            width: 1em;
                            height: 1em;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-top: -2em;
                            margin-left: 0.8em;
                            border-radius: 50%;
                            background-color: yellow;
                            box-shadow: 0 0 0.05em 0.1em white;
                            font-size: 1.8em;
                        }
                    }
                    .valor_icon{
                        width: 70%;
                        height: 100%;
                        display: flex;
                        align-items: end;
                        justify-content: center;
                        margin-left: 1em;

                        .cifrao{
                            font-size: 1.1em;
                        }
                        .valor{
                            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                            font-size: 1.5em;
                            font-style: italic;
                        }
                    }
                }
            }
            .categorias{
                width: 100%;
                height: 2.5em;
                margin-top: 1em;
                display: grid;
                grid-template-columns: repeat(4, 1fr);

                .cat{
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    font-style: italic;
                    font-size: 1.8em;
                    text-align: center;
                    text-decoration: none;
                    color: black;
                }
            }
            .container_iframe{
                width: 100%;
                height: calc(100% - 8.5em);
                margin: 2em auto;
                display: grid;
                gap: 1.2em;
                grid-template-columns: repeat(3, 1fr);
                overflow: hidden;
                overflow-y: scroll;
                padding: 0 1em;
                border: 0.1em solid black;
                
                .container_item{
                    width: 100%;
                    height: 12em;
                    background-color: white;
                    border-radius: 50%;
                    margin: 2em auto;
                    border: none;
                    border-bottom: 1em solid var(--light-green);
                    overflow: hidden;

                    .box_titulo{
                        width: 100%;
                        height: 4em;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        border-radius: 30em 0 30em 0;
                        padding: 0.3em;
                        
                        .titulo{
                            font-family: var(--fonte-primaria);
                            font-size: 1.5em;
                            letter-spacing: 0.1em;
                        }
                    }
                    .img{
                        width: 100%;
                        height: 4em;
                        margin-top: 4em;
                        display: flex;
                        
                        img{
                            width: 80%;
                            height: 7em;
                            margin: -4em 10%;
                        }
                    }
                }
            }
        }
        .container_resumo{
            width: 100%;
            height: 100%;
            display: flex;
            background-color: rgba(0, 0, 0, 0.61);
            
            .cart_item{
                position: absolute;
                width: 95%;
                height: 85%;
                margin: 2em 2.5%;
                border-radius: 2em;
                background-color: white;
                overflow: hidden;
                
                .table{
                    position: absolute;
                    width: 100%;
                    height: calc(100% - 12em);
                    overflow: hidden;
                    overflow-y: scroll;

                    table{
                        position: absolute;
                        width: 100%;
                        margin: 0.5em 0;
                        border-collapse: collapse;
                        font-size: 1.5em;
                        font-weight: bold;
                        font-style: italic;
    
                        th{
                            text-align: center;
                            border-bottom: 0.2em solid black;
                        }
                        tr{
                            height: 1.8em;
                        }
                        .linha{
                            border-bottom: 0.05em dashed black;
                        }
                        td{
                            text-align: center;
                        }
                        .desc{
                            text-align: left;
                            padding-left: 1em;
                        }
                        .qnt_cart{
                            display: flex;
                            align-items: center;
                            width: 7em;
                            background-color: rgba(255, 166, 0, 0.795);
                            height: 1.5em;
                            border-radius: 1em;
    
                            button{
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 35%;
                                height: 1.5em;
                                border: none;
                                background-color: transparent;
                            }
                            input{
                                width: 30%;
                                height: 1.3em;
                                text-align: center;
                                border: none;
                                outline: none;
                                background-color: transparent;
                                font-weight: bold;
                                font-size: 1.2em;
                            }
                            input[type="number"]::-webkit-inner-spin-button,
                            input[type="number"]::-webkit-outer-spin-button{
                                -webkit-appearance: none;
                                margin: 0;
                            }
                        }
                        .cart_vazio_text{
                            background-color: yellow;
                            box-shadow: 0 0 0.5em 0.1em black;
                        }
                        .btn_cart_vazio{
                            width: 10em;
                            border-radius: 0.5em;
                            font-family:cursive;
                            font-size: 1.5em;
                            letter-spacing: 0.1em;
                            background-color: yellow;
                            box-shadow: 0 0 0.5em 0.1em black;
                            border: none;
                            cursor: pointer;

                        }
                        .btn_continuarComprando{
                            width: 15em;
                            height: 2em;
                            border-radius: 0.5em;
                            font-family:cursive;
                            font-size: 1em;
                            letter-spacing: 0.1em;
                            background-color: yellow;
                            box-shadow: 0 0 0.5em 0.1em black;
                            border: none;
                            cursor: pointer;

                        }
                    }
                }
                .footer{
                    position: absolute;
                    width: 100%;
                    height: 12em;
                    bottom: 0em;
                    background-color: lightgray;

                    table{
                        width: 98%;
                        text-align: center;
                        
                        /* thead{
                            background-color: blue;
                            
                            tr{
                                display: grid;
                                justify-content: space-between;
                                grid-template-columns: 39% 39% 19%;

                                th{
                                    background-color: yellow;
                                }
                            }
                        } */
                       tbody{
                        
                           tr{
                                margin: 0.3em 0;
                                display: flex;
                                justify-content: space-between;
                                /* grid-template-columns: 50% 10% 40%; */
                                font-size: 1.5em;
                                font-weight: bold;

                                .col-1{
                                    width: 50%;
                                    text-align: left;
                                    margin-left: 0.5em;
                                }
                                .col-2{
                                    width: 30%;
                                    display: flex;
                                    align-items: center;
                                    input{
                                        width: 100%;
                                        text-align: center;
                                    }
                                }
                                .col-3{
                                    width: 20%;
                                    text-align: right;
                                }
                            }
                       }
                    }
                }
            }
            .btn_buy{
                           position: absolute;
                           width: 100%;
                           height: 5%;
                           display: flex;
                           align-items: center;
                           justify-content: center;
                           bottom: 2em;
                           
                           a{
                               width: 90%;
                               height: 3em;
    
                               button{
                                   width: 100%;
                                   height: 3em;
                                   border-radius: 2em;
                                   background-color: orange;
                                   border: none;
                                   box-shadow: 0 0 0.5em 0.1em white;
               
                                   p{
                                       font-family: Georgia, 'Times New Roman', Times, serif;
                                       font-size: 2em;
                                       letter-spacing: 0.1em;
                                   }
                               }
                           }
            }
        }
    }
}
/* MENU MODAL LATERAL */
.menu_modal{
    z-index: 10;
    position: fixed;
    width: 0%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.63);
    transition: 0.5s;
    overflow: hidden;

    .btn_fechar{
        width: 70%;
        text-align: center;
        font-size: 2em;
        background-color: red;
        color: white;
        cursor: pointer;
    }
    .menu_lista{
        width: 70%;
        height: 100%;
        background-color: white;

        a{
            display: flex;
            align-items: center;
            justify-content: left;
            font-size: 3em;
            padding: 0.5em 2em;
            margin-top: 0.5em;
            color: black;
            text-decoration: none;
        }
    }
}
.open{
    width: 100%;
}